.toolbar {
  min-width: 105px;
  height: 100vh;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  font-size: small;
}

.display-options {
  border-bottom: 1px solid #ccc;
}

.display-header {
  padding-left: 3px;
  line-height: 24px;
  padding-right: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-top: 1px;
  margin-bottom: 1px;
  border: 1px solid transparent;
  border-top-color: #c8ced1;
  font-size: 11px;
  background-color: #c8ced1;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.display-options-container {
  background-color: #eef1f2;
  background-image: none;
  color: #353535;
  padding: 3px;
  display: flex;
  gap: 3px;
}

.display-option {
  cursor: pointer;
}

.button {
  color: black;
  border: 1px solid #0089cf;
  padding: 0px 5px;
}

.button:hover {
  background-color: #81caf3;
  cursor: pointer;
}

.active {
  background-color: #81caf3;
}
